name: Release
on:
  push:
    branches:
      - main
jobs:
  release:
    name: Release
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: Brightspace/third-party-actions@actions/checkout
        with:
          persist-credentials: false
      - name: Setup Node
        uses: Brightspace/setup-node@main
        with:
          node-version-file: .nvmrc
      - name: Create custom-elements.json
        run: |
          npm install web-component-analyzer@1 --no-save
          npx wca analyze components/**/*.js --format json --outFile custom-elements.json
      - name: Semantic Release
        uses: BrightspaceUI/actions/semantic-release@main
        with:
          GITHUB_TOKEN: ${{ secrets.D2L_RELEASE_TOKEN }}
          NPM: true
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
